@use 'variables' as *;

.grid {
  display: none;
}

table {
  display: none;
}

@media (min-width: 768px) and (max-width: 1336px) {

  .grid {
    display: block;
    padding-top: 32px;
  }

  .grid__title {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 16px;
    border-top: 1px solid $swiper-title-border;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $button-color;
    background: $gradient;
  }

  .brands__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 24px;
    max-height: 180px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .brands__wrapper.show-brands {
    max-height: 1000px;
  }

  .logo-section {
    display: flex;
    width: 60%;
  }
  .brands__icon {
    display: flex;
    align-items: center;
    width: 224px;
    height: 72px;
    background-color: white;
    padding-left: 16px;
    border: 1px solid $line-color;
    border-radius: 6px;
  }
  .brands__icon--arrow {
    padding-left: 16px;
  }

  .devices__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    padding: 24px;
    gap: 16px;
    max-height: 190px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .devices__wrapper.show-devices {
    max-height: 1000px;
  }

  .devices {
    width: 224px;
    height: 160px;
    background-color: white;
    border: 1px solid $line-color;
    border-radius: 6px;

    &__icon--arrow {
      width: 40px;
      height: 40px;
      position: relative;
      top: 104px;
      left: 9px;
    }

    &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      padding-left: 16px;
      width: 100%;
    }

    &__button--arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $main-color;
      font-family: 'TT Lakes';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $text-color;
    }
  }

  table {
    display: block;
    padding-left: 16px;
    padding-right: 24px;
    width: 100%;
    border-collapse: collapse;
  }

  th {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: start;
    color: $button-color;
    opacity:72.18%;
    padding: 0;
  }

  td,
  th {
    padding: 16px;
    width: 100vh;
    padding-left: 24px;
  }

  td {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $text-color;
    background-color: white;
  }

  tbody tr {
    position: relative;
  }

  tbody tr::after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    background-color: $main-color;
  }

  tbody tr:last-child::after {
    display: none;
  }

  .button--order {
    width: 119px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3e79;
    border-radius: 16px;
    gap: 8px;
    color: #ffffff;
    padding: 16px 16px 16px 20px;
  }

  .brands__button,
  .devices__button {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height:24px;
    letter-spacing:-0,2px;
    color: $text-color;
    background-color: $main-color;
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 24px;
  }

  button:hover,
  button:focus {
    opacity: 0.6;
  }
}

@media (min-width:1336px) {
  th{
    text-align: left;
    padding:0;
    color: $button-color;
     opacity:72.18%;
     font-weight:500;
     font-size: 14px;
     line-height:16px;
  }  
}
