@use '_variables' as *;
@import "fonts";

.content__list--service{
    min-height: 40px;
    display:flex;
    padding-left:16px;
    margin: 0;
    list-style: none;
    gap:34px;
    overflow: auto;
    scrollbar-width: none;
    padding-top:24px;
}

.content__item--servic{
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $button-color;
    cursor: pointer;
    width:233px;
    height: 40px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding-left: 16.54px;
    padding-right:9.3px;
    transition: transform 0.2s ease;
}

.content__item--servic:hover,
.content__item--servic:focus{
 transform: scale(0.5s);
 opacity:0.7;
 border:2px solid $border-color;
}