$main-color: #f8f8f8;
$nav-color: #ffffff;
$line-color: #eaeaea;
$text-color: #1B1C21;
$button-color:#7E7E82;
$border-color:#B8FFEC;
$title-border-color:#41F6D7;
$swiper-title-color:#7E7E82;
$swiper-title-border:#D9FFF5;
$gradient:linear-gradient(to right,#f8f8f8,#ffffff);
$modal-shadow: 16px 0px 52px 0px #0E185033,
                -2px 0px 4px 0px #454F7E05;
$modal-background:rgba(#ffffff, 0.7);