
@use 'content-text-style';
@use 'variables' as *;
@use 'button' as *;
@use 'fonts' as *;
@use 'services' as *;
@use 'swipers-style';
@use 'down-container';
@use 'media';
@use 'footer';
@use 'modal';

body {
  min-width: 320px;
  height: auto;
  font-family: 'TT Lakes', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $main-color;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

nav {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  gap:8px;
  background-color: white;
  padding-left: 16px;
  padding-right:24px;
  &__list {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: $nav-color;
    padding-left: 16px;
  }

  &__button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-left: 16.73px;
  }
}

.line {
  min-width: 2px;
  height: 32px;
  background-color: $line-color;
  margin-right: 20px;
  margin-left:16px;
}

.right--button {
  display: flex;
  flex: 1;
  gap:8px;
}
/*display none*/

.button__text {
  display: none;
}

/*content*/

.content {
  width: 100%;
  height: auto;
  background-color: $main-color;

  &__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: $text-color;
    gap: 12px;

    &--line {
      width: 4px;
      height: 32px;
      background-color: $title-border-color;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  .content__wrapper{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    overflow: hidden;
    padding-left: 16px;
    padding-top:24px;
    color: $text-color;
  }
  .content__button--watch {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: $main-color;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $text-color;
    padding-top:16px;
  }
}

  @media (min-width:1336px) {
    nav{
        display: none;
    }
  }
